
.icon-star-half-alt:before { content: '\e800'; } /* '' */
.icon-flag-filled:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-doc-text:before { content: '\e803'; } /* '' */
.icon-help-circled:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-search:before { content: '\e806'; } /* '' */